<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
